# use separate file for username / github token / etc
[include]
	path = ~/.gitconfig.local

[includeIf "gitdir:~/.local/share/yadm/repo.git"]
  path = .config/yadm/config

[core]
	excludesfile = ~/.gitignore
	quotepath = false
	editor = nano
	autocrlf = input
	attributesfile = ~/.gitattributes

[mergetool]
	keepBackup = true

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[push]
	# Avoids having to use --set-upstream-to
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[commit]
	template = ~/.gitmessage

[credential]
	helper = osxkeychain

[alias]
	a = add
	s = status
	c = commit
	cc = clear-changes
	cl = clone --recursive
	cm = commit -m
	co = switch
	cb = checkout -b
	cp = cherry-pick
	db = branch -D
	ghr = "!f() { git remote add origin $(gh repo view $1 --json sshUrl --jq .sshUrl); }; f"
	r = rebase
	rc = rebase --continue
	ups = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	vc = verify-commit

	bump = commit --allow-empty -m 'Bumping the build'

	# Plurals
	branches = branch -a
	stashes = stash list
	aliases = config --get-regexp alias

	# Push related aliases
	force = push --force-with-lease

	# Listing files
	ls-ignored =  ls-files --others --exclude-standard

	# Mistake related aliases
	clear-changes = checkout -- .
	unstage = reset HEAD --
	undo = reset --soft HEAD^
	amend = commit --amend
	amendne = commit --amend --no-edit
	fix = commit --fixup
	fixup = rebase -i --autosquash

	# Diff related aliases
	changes = diff --name-status
	dic = diff --cached
	diffstat = diff --stat
	lg = log --pretty=oneline --abbrev-commit --graph --decorate

 	prune-remote = remote prune origin
 	dmb = delete-merged-branches
 	dsb = delete-squashed-branches
	whoami = config user.email

	# Usage: `git change-commits GIT_AUTHOR_NAME "old name" "new name"`
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[tag]
	forceSignAnnotated = true

[gpg]
	program = gpg

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[grep]
	lineNumber = true

[pull]
	rebase = true

[rebase]
	autoStash = true
	autoSquash = true

[remote "origin"]
	prune = true

[init]
	defaultBranch = main

[user]
	name = Vladimir Jimenez

[advice]
	detachedHead = false

[diff]
	tool = bc

[diff "plist"]
	textconv = plutil -convert xml1 -o -

[difftool "bc"]
	prompt = false
