# use separate file for username / github token / etc
[include]
	path = ~/.gitconfig.local

[core]
	excludesfile = ~/.gitignore
	quotepath = false
	editor = nano
	autocrlf = input

[mergetool]
	keepBackup = true

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[push]
	# Avoids having to use --set-upstream-to
	default = current

[fetch]
	prune = true

[commit]
	gpgsign = true
	template = ~/.gitmessage

[credential]
	helper = osxkeychain

[alias]
	a = add
	s = status
	c = commit
	cl = clone --recursive
	cm = commit -m
	co = checkout
	cb = checkout -b
	cp = cherry-pick
	ups = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	vc = verify-commit

	# Plurals
	branches = branch -a
	stashes = stash list
	aliases = config --get-regexp alias

	# Push related aliases
	force = push --force-with-lease

	# Listing files
	ls-ignored =  ls-files --others --exclude-standard

	# Mistake related aliases
	clear = checkout --
	abort = checkout -- .
	unstage = reset HEAD --
	undo = reset --soft HEAD^
	amend = commit --amend
	amendne = commit --amend --no-edit

	# Diff related aliases
	changes = diff --name-status
	dic = diff --cached
	diffstat = diff --stat
	lg = log --pretty=oneline --abbrev-commit --graph --decorate

    prune-remote = remote prune origin
    dmb = delete-merged-branches
	whoami = config user.email

[tag]
	forceSignAnnotated = true

[gpg]
	program = gpg

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
